body {
  --primary-color: #ff9900;
  --secondary-color: #f5f5f5;
  --text-color: #ffffff;
  --background-color: #333e48;

  background-color: var(--background-color);
  color: var(--text-color); /* opcional, para que el texto también cambie */
}
.card-custom {
  background-color: var(--primary-color) !important;
  color: white; /* para que contraste */
}

.textcolor{
  color: #333e48;
}